html{
    height: 100%;

}

body{
    padding:0;
    margin:0;
}

#container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}

#dashboard{
    background-color: rgb(86, 194, 244);
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display:grid;
    grid-template-columns: minmax(0.3cm,0.9cm) auto;
    grid-template-rows: minmax(1cm,1.5cm) 0.8cm repeat(6,minmax(0.5cm,1cm)) 0.8cm repeat(3,minmax(0.5cm,1cm));
    justify-content: baseline; 
    
}

.dashOption{
    align-self: center;
    justify-self: baseline;
    font-size:small;
    font-weight: bolder;
}
.icon{
    align-self: center;
    justify-self: center;
    max-height: 0.5cm;
    fill:white;    
}

#dashTitle{
    align-self:center;
    font-size:larger;
   grid-row: 1 / 2;
}
#firstIcon{
    max-height: 1.2cm;
    grid-row: 1 / 2;
    align-self: center; 
}

#emptySpaceOne{
    grid-row:2 / 3;
    grid-column: 1 / 3;
    max-height: 1cm;
}
#emptySpaceTwo{
    grid-row: 9 / 10;
    grid-column: 1 / 3;
    max-height: 1cm;
}

#userBox{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: space-around;
    border-bottom:inset;
    row-gap: 0.35cm;
    padding-bottom: 0.2cm;
}

#bigProfilePic{
    max-height: 1.5cm;
    max-width: auto;
    border-radius: 50%;
}
.profilePics{
    max-height: 1cm;
    max-width: auto;
    border-radius: 50%;
}
#lupeBut{
    background-color: white;
    border:none;
}
.lupe{
    height: 0.5cm;
    background-color: white;
}

.blueButton{
    color:white;
    min-width: 2cm;
    background-color: rgb(86, 194, 244);
    border-radius: 50px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding: 0.2cm 0.6cm 0.2cm;
}

#topLeftUser{
    display:flex;
    padding:0.1cm;
    padding-left: 1cm;
}

#bottonLeftUser{
    display:flex;
    gap:0.5cm;
    align-items: center;
    padding-left: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p{
    margin:0;
}

#upwardText{
    font-size: x-small;
}

#textInput{
    background-color: lightgray;
    border: none;
    flex:1;
    border-radius: 20px;
}

#topRightUser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5cm;
    font-family: arial;
    font-size: small;
    font-weight:900;
}

#bottomRightUser{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:1cm;
}

#projectsBox{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.titles{
    font-family: arial;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.3cm;
}

#Projects{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display:flex;
    flex-direction: column;
    padding: 1cm 0.5cm 1cm;
    background-color: rgb(215, 234, 240);
}

#yourProjects{
    flex:1;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,minmax(2cm,4.5cm));
    gap:1cm;
    align-content: center;
    justify-content: center;
}
#announcement{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#trending{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.projectBoxes{
    border:solid;
    padding: 0.5cm 0.3cm 0.5cm;
    background-color: white;
    box-shadow: -5px 0px 0px 0px orange;
    border-radius: 5px;
    border:none;
    display:flex;
    flex-direction: column;
}



.projectIcon{
    flex:0 1 0.5cm;
    max-height: 0.5cm;
    fill:gray;  
}

.projectIcon:hover{
    fill:black;
}

.projectTitle{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: medium;
    flex:0;
}
.projectText{
    color:gray;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex:1;
}
.iconContainer{   
    flex:0;
    display:flex;
    justify-content: flex-end;
    gap:0.6cm;
}
